body {
	background-color: green;
}

h1 {
	background-color: red;
}

p {
	font-size: 10px;
}

.center {
	text-align: center;
}

.container {
	width: 100%;
}

div {
	background-color: yellow;
	padding-top: 200px;
	font-size: 3em;
}


@media (min-width: 768px) {
div {
	background-color: purple;
	padding-top: 200px;
	font-size: 3em;
	}	
}

@media (min-width: 1180px) {
	.container {
		margin: 0 auto;
		width: 1160px;
	}
}